[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "feature-engine>=1.9.3",
    "jupyter>=1.1.1",
    "notebook>=7.5.2",
    "seaborn>=0.13.2",
]
